<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springapp.dao.PrizeLogDao">
    <resultMap id="prizeModel" type="com.springapp.model.PrizeLogModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="prize_id" property="prizeId" jdbcType="INTEGER"/>
        <result column="u_name" property="uName" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="prize_log_date" property="prizeLogDate" jdbcType="TIMESTAMP"/>
    </resultMap>


    <insert id="insertPrizeLog" parameterType="com.springapp.model.PrizeLogModel" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO tb_choujiang_prize_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="prizeId != null">prize_id,</if>
            <if test="uName != null">u_name,</if>
            <if test="prizeLogDate != null">prize_log_date,</if>
            create_date
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId, jdbcType=INTEGER},</if>
            <if test="prizeId != null">#{prizeId, jdbcType=INTEGER},</if>
            <if test="uName != null">#{uName, jdbcType=VARCHAR},</if>
            <if test="prizeLogDate != null">#{prizeLogDate, jdbcType=TIMESTAMP},</if>
            NOW()
        </trim>
    </insert>

</mapper>